.top-page
  // ヘッダー
  %header.header
    .header__inner
      .menu-trigger
        %span
        %span
        %span
      = image_tag '/assets/logo-light.png', class: 'header__logo'
      .header__inner--signup
        新規登録
      .header__inner--login
        ログイン

  // サイドバー
  .sidebar
    %nav
      %ul.global-nav
        %li ideaSpaceとは？
        %li 新着アイデア
        %li 人気アイデア

  // ジャンボトロン
  .jumbotron
    .container
      .jumbotron__inner
        = image_tag '/assets/light.png', class: 'jumbotron__inner--light'
        = image_tag '/assets/logo-none.png', class: 'jumbotron__inner--logo-none'
      %h1.lead
        あなたのアイデアを、
        %br
        投稿してみませんか？
      %button 投稿する

  // 新着アイデア
  %main
    .new-posts
      .container
        %h2.new-posts__title
          = icon 'far', 'lightbulb'
          新着アイデア
        .card-wrapper
          .card
            .card__top
              .card__top--title
                タイトル
              .card__top--text
                ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
            .card__bottom
              = image_tag '/assets/shirokuma.png', class: 'card__bottom--user-icon'
              .btn-box
                .btn-box__share-btn
                  = icon 'fas', 'share-alt'
                .btn-box__like-btn
                  = icon 'fas', 'heart'

          .card
            .card__top
              .card__top--title
                タイトル
              .card__top--text
                ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
            .card__bottom
              = image_tag '/assets/shirokuma.png', class: 'card__bottom--user-icon'
              .btn-box
                .btn-box__share-btn
                  = icon 'fas', 'share-alt'
                .btn-box__like-btn
                  = icon 'fas', 'heart'

          .card
            .card__top
              .card__top--title
                タイトル
              .card__top--text
                ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
            .card__bottom
              = image_tag '/assets/shirokuma.png', class: 'card__bottom--user-icon'
              .btn-box
                .btn-box__share-btn
                  = icon 'fas', 'share-alt'
                .btn-box__like-btn
                  = icon 'fas', 'heart'

          .card
            .card__top
              .card__top--title
                タイトル
              .card__top--text
                ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
            .card__bottom
              = image_tag '/assets/shirokuma.png', class: 'card__bottom--user-icon'
              .btn-box
                .btn-box__share-btn
                  = icon 'fas', 'share-alt'
                .btn-box__like-btn
                  = icon 'fas', 'heart'

          .card
            .card__top
              .card__top--title
                タイトル
              .card__top--text
                ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
            .card__bottom
              = image_tag '/assets/shirokuma.png', class: 'card__bottom--user-icon'
              .btn-box
                .btn-box__share-btn
                  = icon 'fas', 'share-alt'
                .btn-box__like-btn
                  = icon 'fas', 'heart'

          .card
            .card__top
              .card__top--title
                タイトル
              .card__top--text
                ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
            .card__bottom
              = image_tag '/assets/shirokuma.png', class: 'card__bottom--user-icon'
              .btn-box
                .btn-box__share-btn
                  = icon 'fas', 'share-alt'
                .btn-box__like-btn
                  = icon 'fas', 'heart'
  %footer.footer
    = image_tag '/assets/logo-light.png', class: 'footer__logo'
