// ヘッダー
= render 'component/header'
// サイドバー
= render 'component/sidebar'
%main
  .posts-wrapper
    .container
      %h2.posts-wrapper__title
        = icon 'fas', 'brain'
        アイデア投稿
      = form_with model: @idea, local: true do |f|
        .form-section
          %h3 タイトル
          = f.text_field :title
        .form-section
          %h3 どんなアイデア？
          = f.text_area :content
        .form-section
          %h3 カテゴリ
          .form-section__select-wrap
            = icon 'fas', 'sort-down'
            = f.select :category, @categories, include_blank: "-----"
        .form-section
          = f.submit '投稿する'
// フッター
= render 'component/footer'
