.overlay
// ヘッダー
= render 'component/header'

// サイドバー
= render 'component/sidebar'

.post-wrapper
  .container.px-1
    .card.idea-show
      .card__top.idea-show__top
        %h1.card__top--title
          = @idea.title
        .card__top--text.idea-show__top--text
          = @idea.content
          .card__top--user-name
            = "投稿者 : #{@idea.user.name}"
      .card__bottom.idea-show__bottom
        = link_to user_path(@idea.user_id) do
          = image_tag '/assets/shirokuma.png', class: 'card__bottom--user-icon'
        .btn-box
          - if current_user.id == @idea.user_id
            = link_to idea_path(@idea.id), class: 'btn-box__destroy-btn btn-box__btn', method: 'DELETE' do
              = icon 'fas', 'trash'
          .btn-box__comment-btn.btn-box__btn
            = icon 'fas', 'comment'
          .btn-box__share-btn.btn-box__btn
            = icon 'fas', 'share-alt'
          - if current_user.likes.find_by(idea_id: @idea.id)
            = link_to like_path(@idea.id), class: 'btn-box__like-btn btn-box__btn', method: 'DELETE' do
              = icon 'fas', 'heart', class: 'unlike'
          - else
            = link_to like_like_path(@idea.id), class: 'btn-box__like-btn btn-box__btn', method: 'POST' do
              = icon 'fas', 'heart'
      .card__other
        .card__other--comments
          %p
            = @idea.comments.count
          = icon 'fas', 'comments'
        .card__other--likes
          %p
            = @idea.likes.count
          = icon 'fas', 'heart'
        .card__other--category
          = @idea.category


.comments-wrapper
  .container.px-1
    %h2
      = icon 'far', 'comments'
      コメント一覧
    .comments-list
      - @comments.each do |comment|
        .comments-list__item
          -case comment.user.avatar
          -when 0 then
            = image_tag 'shirokuma.png', class: 'comments-list__item--img'
          -when 1 then
            = image_tag 'shirokuma.png', class: 'comments-list__item--img'
          -else
            = image_tag 'shirokuma.png', class: 'comments-list__item--img'
          .comments-list__item--user-name
            = "#{comment.user.name} :"
          .comments-list__item--content
            = comment.content
          - if current_user.id == comment.user_id
            .comments-list__item--destroy
              = link_to '削除する', comment_path(comment.id), method: 'DELETE'



= form_with url: comments_path, local: true, class: 'comment-box' do |f|
  .container.px-1
    %h2.comment-box__title コメントする
    = f.text_area :content, class: 'comment-box__input'
    = f.number_field :idea_id, value: @idea.id, type: 'hidden'
    .comment-box__btn
      = f.submit 'コメントする', class: 'comment-box__btn--comment btn btn-accent'
      .comment-box__btn--close.btn.btn-sub 閉じる