.top-page
  // ヘッダー
  = render 'component/header'

  // サイドバー
  = render 'component/sidebar'

  // ジャンボトロン
  = render 'component/jumbotron'

  %main
    // 新着アイデア
    = render 'component/new-posts'



  %footer.footer
    = image_tag '/assets/logo-light.png', class: 'footer__logo'
