.top-page
  // ヘッダー
  = render 'component/header'

  // サイドバー
  = render 'component/sidebar'

  // ジャンボトロン
  = render 'component/jumbotron'

  %main
    // 新着アイデア
    = render 'component/new-posts'
 
  // フッター
  = render 'component/footer'
