.overlay
// ヘッダー
= render 'component/header'
// サイドバー
= render 'component/sidebar'
.user-top
  .container
    .user-top__img-wrap
      .likes-count
        %p
          = @likes_count
        = icon 'far', 'heart'
      - if current_user.id == @user.id
        = image_tag @image, class: 'user-top__img-wrap--img'
      - else
        = image_tag @image
    %h1
      = @user.name
      - if current_user.id == @user.id
        = icon 'fas', 'edit', class: 'name-edit'
      = render 'component/follow-button', user: @user
    %ul.status-list
      %li
        .number
          = @user.followings.count
        = link_to follow_user_path(@user.id) do
          %p#switch-follow フォロー
      %li
        .number
          = @user.followers.count
        = link_to followers_user_path(@user.id) do
          %p#switch-followers フォロワー
      %li
        = link_to like_user_path(@user.id) do
          %p#switch-like いいね

= render 'component/name-edit'
= render 'component/avatar-select'


.container
  = link_to user_path(@user.id), class: 'tab-back' do
    = icon 'far', 'arrow-alt-circle-left'
    %p 戻る
.posts-wrapper.like-posts-wrapper.pt-1
  .container
    %h2.posts-wrapper__title.like-posts-wrapper__title
      = icon 'far', 'heart'
      いいねしたアイデア
    #slide
      SLIDE
      = image_tag 'slide'
    .card-wrapper
      - @ideas.each do |idea|
        .card
          = link_to idea_path(idea.id), class: 'card__top' do
            .card__top--title
              = truncate(idea.title, length: 13)
            .card__top--text
              = truncate(idea.content, length: 108)
            .card__top--time
              = date_time(idea.created_at)
            .card__top--user-name
              = icon 'far', 'user-circle'
              = idea.user.name
          .card__bottom
            = link_to user_path(idea.user_id) do
              -case idea.user.avatar
              -when 1 then
                = image_tag 'hiyoko2.png', class: 'card__bottom--user-icon'
              -when 2 then
                = image_tag 'usagi.png', class: 'card__bottom--user-icon'
              -when 3 then
                = image_tag 'harinezumi.png', class: 'card__bottom--user-icon'
              -when 4 then
                = image_tag 'inu.png', class: 'card__bottom--user-icon'
              -when 5 then
                = image_tag 'neko.png', class: 'card__bottom--user-icon'
              -when 6 then
                = image_tag 'raion.png', class: 'card__bottom--user-icon'
              -when 7 then
                = image_tag 'shirokuma.png', class: 'card__bottom--user-icon'
              -else
                = image_tag 'hiyoko.png', class: 'card__bottom--user-icon'
            .btn-box
              .btn-box__share-btn.btn-box__btn
              - if current_user.likes.find_by(idea_id: idea.id)
                = link_to like_path(idea.id), class: 'btn-box__like-btn btn-box__btn', method: 'DELETE' do
                  = icon 'fas', 'heart', class: 'unlike'
              - else
                = link_to like_like_path(idea.id), class: 'btn-box__like-btn btn-box__btn', method: 'POST' do
                  = icon 'fas', 'heart'
          .card__other
            .card__other--comments
              %p
                = idea.comments.count
              = icon 'fas', 'comments'
            .card__other--likes
              %p
                = idea.likes.count
              = icon 'fas', 'heart'
            .card__other--category
              = idea.category

    = paginate @ideas

// フッター
= render 'component/footer'