// ヘッダー
= render 'component/header'
// サイドバー
= render 'component/sidebar'

.user-top
  .container
    .user-top__img-wrap
      .likes-count
        %p 90
        = icon 'far', 'heart'
      = image_tag @user.image.url
    %h1
      = @user.name
    %ul.status-list
      %li
        .number 40
        %p フォロー
      %li
        .number 1280
        %p フォロワー
      %li
        %p いいね
= render 'component/my-posts'