.overlay
// ヘッダー
= render 'component/header'
// サイドバー
= render 'component/sidebar'

.user-top
  .container
    .user-top__img-wrap
      .likes-count
        %p
          = @likes_count
        = icon 'far', 'heart'
      - if current_user.id == @user.id
        = image_tag @image, class: 'user-top__img-wrap--img'
      - else
        = image_tag @image
    %h1
      = @user.name
      -# = icon 'fas', 'user-plus'
      -# = icon 'fas', 'user-minus'
    %ul.status-list
      %li
        .number 40
        %p フォロー
      %li
        .number 1280
        %p フォロワー
      %li
        %p#swich-like いいね


.avatar-wrapper
  .container.px-1
    %h2.avatar-wrapper__title
      = icon 'far', 'arrow-alt-circle-left', class: 'back-avatar'
      アバター選択
    = image_tag 'slide-white', class: 'avatar-wrapper__slide'
    .avatar-wrap
      .avatar-wrap__box
        .avatar-wrap__box--conditions
          %p
            = icon 'fas', 'heart'
            0〜
        = image_tag 'hiyoko', class: 'avatar-wrap__box--img'
        = link_to '選択する', avatar_update_user_path(0), class: 'btn btn-sub mt-3', method: 'PATCH'

      .avatar-wrap__box
        .avatar-wrap__box--conditions
          %p
            = icon 'fas', 'heart'
            5〜
        = image_tag 'hiyoko2', class: 'avatar-wrap__box--img'
        - if @likes_count >= 5
          = link_to '選択する', avatar_update_user_path(1), class: 'btn btn-sub mt-3', method: 'PATCH'
        - else
          %button.btn.select-ng.mt-3 いいねが足りません

      .avatar-wrap__box
        .avatar-wrap__box--conditions
          %p
            = icon 'fas', 'heart'
            20〜
        = image_tag 'usagi', class: 'avatar-wrap__box--img'
        - if @likes_count >= 20
          = link_to '選択する', avatar_update_user_path(2), class: 'btn btn-sub mt-3', method: 'PATCH'
        - else
          %button.btn.select-ng.mt-3 いいねが足りません

      .avatar-wrap__box
        .avatar-wrap__box--conditions
          %p
            = icon 'fas', 'heart'
            50〜
        = image_tag 'harinezumi', class: 'avatar-wrap__box--img'
        - if @likes_count >= 50
          = link_to '選択する', avatar_update_user_path(3), class: 'btn btn-sub mt-3', method: 'PATCH'
        - else
          %button.btn.select-ng.mt-3 いいねが足りません

      .avatar-wrap__box
        .avatar-wrap__box--conditions
          %p
            = icon 'fas', 'heart'
            100〜
        = image_tag 'inu', class: 'avatar-wrap__box--img'
        - if @likes_count >= 100
          = link_to '選択する', avatar_update_user_path(4), class: 'btn btn-sub mt-3', method: 'PATCH'
        - else
          %button.btn.select-ng.mt-3 いいねが足りません

      .avatar-wrap__box
        .avatar-wrap__box--conditions
          %p
            = icon 'fas', 'heart'
            250〜
        = image_tag 'neko', class: 'avatar-wrap__box--img'
        - if @likes_count >= 250
          = link_to '選択する', avatar_update_user_path(5), class: 'btn btn-sub mt-3', method: 'PATCH'
        - else
          %button.btn.select-ng.mt-3 いいねが足りません

      .avatar-wrap__box
        .avatar-wrap__box--conditions
          %p
            = icon 'fas', 'heart'
            500〜
        = image_tag 'raion', class: 'avatar-wrap__box--img'
        - if @likes_count >= 500
          = link_to '選択する', avatar_update_user_path(6), class: 'btn btn-sub mt-3', method: 'PATCH'
        - else
          %button.btn.select-ng.mt-3 いいねが足りません

      .avatar-wrap__box
        .avatar-wrap__box--conditions
          %p
            = icon 'fas', 'heart'
            1000〜
        = image_tag 'shirokuma', class: 'avatar-wrap__box--img'
        - if @likes_count >= 1000
          = link_to '選択する', avatar_update_user_path(7), class: 'btn btn-sub mt-3', method: 'PATCH'
        - else
          %button.btn.select-ng.mt-3 いいねが足りません


= render 'component/my-posts'
= render 'component/like-posts'


// フッター
= render 'component/footer'