.overlay
// ヘッダー
= render 'component/header'
// サイドバー
= render 'component/sidebar'

.user-top
  .container
    .user-top__img-wrap
      .likes-count
        %p
          = @likes_count
        = icon 'far', 'heart'
      - if current_user.id == @user.id
        = image_tag @image, class: 'user-top__img-wrap--img'
      - else
        = image_tag @image
    %h1
      = @user.name
      - if current_user.id == @user.id
        = icon 'fas', 'edit', class: 'name-edit'
      = render 'component/follow-button', user: @user
    %ul.status-list
      %li
        .number
          = @user.followings.count
        = link_to follow_user_path(@user.id) do
          %p#switch-follow フォロー
      %li
        .number
          = @user.followers.count
        = link_to followers_user_path(@user.id) do
          %p#switch-followers フォロワー
      %li
        = link_to like_user_path(@user.id) do
          %p#switch-like いいね

= render 'component/name-edit'
= render 'component/avatar-select'

.container
  .back
    = icon 'far', 'arrow-alt-circle-left'
    %p 戻る
= render 'component/my-posts'


// フッター
= render 'component/footer'