.overlay
// ヘッダー
= render 'component/header'
// サイドバー
= render 'component/sidebar'

.user-top
  .container
    .user-top__img-wrap
      .likes-count
        %p
          = @likes_count
        = icon 'far', 'heart'
      - if current_user.id == @user.id
        = image_tag @image, class: 'user-top__img-wrap--img'
      - else
        = image_tag @image
    %h1
      = @user.name
      - if current_user.id == @user.id
        = icon 'fas', 'edit', class: 'name-edit'
      = render 'component/follow-button', user: @user
    %ul.status-list
      %li
        .number
          = @user.followings.count
        %p フォロー
      %li
        .number
          = @user.followers.count
        %p フォロワー
      %li
        %p#swich-like いいね

= render 'component/name-edit'
= render 'component/avatar-select'

= render 'component/my-posts'
= render 'component/like-posts'


// フッター
= render 'component/footer'