// ヘッダー
= render 'component/header'
// サイドバー
= render 'component/sidebar'

.user-top
  .container
    .user-top__img-wrap
      .likes-count
        %p
          = @likes_count
        = icon 'far', 'heart'
      = image_tag @image
    %h1
      = @user.name
      -# = icon 'fas', 'user-plus'
      -# = icon 'fas', 'user-minus'
    .point
      = "所有ポイント : #{@user.point}pt"
    %ul.status-list
      %li
        .number 40
        %p フォロー
      %li
        .number 1280
        %p フォロワー
      %li
        %p#swich-like いいね

= render 'component/my-posts'
= render 'component/like-posts'


// フッター
= render 'component/footer'