%footer
  .footer-top
    .container
      %ul.footer-top__nav
        %li
          = link_to what_ideas_path, class: 'footer-link' do
            = icon 'fas', 'angle-right'
            ideaSpaceとは？
        %li
          = link_to 'https://yumanoblog.com/', class: 'footer-link', target: 'blank' do
            = icon 'fas', 'angle-right'
            製作者のブログ
        - if user_signed_in?
          %li
            = link_to destroy_user_session_path, method: 'DELETE', class: 'footer-link' do
              = icon 'fas', 'angle-right'
              ログアウト
          %li
            = link_to delete_users_path, class: 'footer-link' do
              = icon 'fas', 'angle-right'
              退会はこちら
        - else
          %li
            = link_to new_user_session_path, class: 'footer-link' do
              = icon 'fas', 'angle-right'
              ログイン
          %li
            = link_to new_user_registration_path, class: 'footer-link' do
              = icon 'fas', 'angle-right'
              新規登録

      = link_to root_path, class: 'footer-top__logo' do
        = image_tag 'logo-light'
  .footer-bottom
    %p Copyright &copy; 2020 Yuma