%header.header
  .header__inner
    .menu-trigger
      %span
      %span
      %span
    = link_to root_path do
      = image_tag asset_path('logo-light'), class: 'header__logo'
    - if user_signed_in?
      = link_to current_user.name, user_path(current_user.id), class: 'header__inner--login header__inner--user-name'
      = link_to 'ログアウト', destroy_user_session_path, method: 'DELETE', class: 'header__inner--signup'
    - else
      = link_to 'ログイン', new_user_session_path, class: 'header__inner--login'
      = link_to '新規登録', terms_ideas_path, class: 'header__inner--signup'