.posts-wrapper
  .container
    %h2.posts-wrapper__title
      = icon 'far', 'lightbulb'
      新着アイデア
    #slide
      SLIDE
      = image_tag '/assets/slide'
    .card-wrapper
      - @ideas.each do |idea|
        .card
          = link_to idea_path(idea.id), class: 'card__top' do
            .card__top--title
              = idea.title
            .card__top--text
              = truncate(idea.content, length: 128)
          .card__bottom
            = link_to user_path(idea.user_id) do
              = image_tag current_user.image.url, class: 'card__bottom--user-icon'
            .btn-box
              .btn-box__share-btn
                = icon 'fas', 'share-alt'
              .btn-box__like-btn
                = icon 'fas', 'heart'
          .card__other
            .card__other--comments
              %p 24
              = icon 'fas', 'comments'
            .card__other--likes
              %p 45
              = icon 'fas', 'heart'

    = link_to ideas_path do
      %button.btn.btn-accent
        もっと見る