.posts-wrapper
  .container
    %h2.posts-wrapper__title
      = icon 'far', 'lightbulb'
      新着アイデア
    #slide
      SLIDE
      = image_tag '/assets/slide'
    .card-wrapper
      .card
        .card__top
          .card__top--title
            タイトル
          .card__top--text
            ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
        .card__bottom
          = image_tag '/assets/shirokuma.png', class: 'card__bottom--user-icon'
          .btn-box
            .btn-box__share-btn
              = icon 'fas', 'share-alt'
            .btn-box__like-btn
              = icon 'fas', 'heart'

      .card
        .card__top
          .card__top--title
            タイトル
          .card__top--text
            ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
        .card__bottom
          = image_tag '/assets/shirokuma.png', class: 'card__bottom--user-icon'
          .btn-box
            .btn-box__share-btn
              = icon 'fas', 'share-alt'
            .btn-box__like-btn
              = icon 'fas', 'heart'

      .card
        .card__top
          .card__top--title
            タイトル
          .card__top--text
            ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
        .card__bottom
          = image_tag '/assets/shirokuma.png', class: 'card__bottom--user-icon'
          .btn-box
            .btn-box__share-btn
              = icon 'fas', 'share-alt'
            .btn-box__like-btn
              = icon 'fas', 'heart'

      .card
        .card__top
          .card__top--title
            タイトル
          .card__top--text
            ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
        .card__bottom
          = image_tag '/assets/shirokuma.png', class: 'card__bottom--user-icon'
          .btn-box
            .btn-box__share-btn
              = icon 'fas', 'share-alt'
            .btn-box__like-btn
              = icon 'fas', 'heart'

      .card
        .card__top
          .card__top--title
            タイトル
          .card__top--text
            ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
        .card__bottom
          = image_tag '/assets/shirokuma.png', class: 'card__bottom--user-icon'
          .btn-box
            .btn-box__share-btn
              = icon 'fas', 'share-alt'
            .btn-box__like-btn
              = icon 'fas', 'heart'

      .card
        .card__top
          .card__top--title
            タイトル
          .card__top--text
            ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
        .card__bottom
          = image_tag '/assets/shirokuma.png', class: 'card__bottom--user-icon'
          .btn-box
            .btn-box__share-btn
              = icon 'fas', 'share-alt'
            .btn-box__like-btn
              = icon 'fas', 'heart'

    = link_to ideas_path do
      %button.btn.btn-accent
        もっと見る