.posts-wrapper.search-wrapper
  .container
    %h2.posts-wrapper__title.search-wrapper__title
      = "#{@category}の検索結果\"#{@ideas_count}\"件"
      = icon 'fas', 'search'
      %br
      %span
        = @order_name
    #slide
      SLIDE
      = image_tag '/assets/slide'
    .card-wrapper
      - @ideas.each do |idea|
        .card
          = link_to idea_path(idea.id), class: 'card__top' do
            .card__top--title
              = idea.title
            .card__top--text
              = truncate(idea.content, length: 108)
            .card__top--time
              = date_time(idea.created_at)
            .card__top--user-name
              = icon 'far', 'user-circle'
              = idea.user.name
          .card__bottom
            = link_to user_path(idea.user_id) do
              -case idea.user.avatar
              -when 1 then
                = image_tag 'hiyoko2.png', class: 'card__bottom--user-icon'
              -when 2 then
                = image_tag 'usagi.png', class: 'card__bottom--user-icon'
              -when 3 then
                = image_tag 'harinezumi.png', class: 'card__bottom--user-icon'
              -when 4 then
                = image_tag 'inu.png', class: 'card__bottom--user-icon'
              -when 5 then
                = image_tag 'neko.png', class: 'card__bottom--user-icon'
              -when 6 then
                = image_tag 'raion.png', class: 'card__bottom--user-icon'
              -when 7 then
                = image_tag 'shirokuma.png', class: 'card__bottom--user-icon'
              -else
                = image_tag 'hiyoko.png', class: 'card__bottom--user-icon'
            .btn-box
              .btn-box__share-btn.btn-box__btn
                = icon 'fas', 'share-alt'
              .btn-box__like-btn.btn-box__btn
                = icon 'fas', 'heart'
          .card__other
            .card__other--comments
              %p
                = idea.comments.count
              = icon 'fas', 'comments'
            .card__other--likes
              %p
                = idea.likes.count
              = icon 'fas', 'heart'
            .card__other--category
              = idea.category

    = paginate @ideas

    = link_to ideas_path do
      %button.btn.btn-accent
        戻る
    .search-title
      再検索
      = icon 'fas', 'search-minus'
      = icon 'fas', 'search-plus'
    = form_with url: search_ideas_path, local: true, method: 'GET', class: 'search-form' do |f|
      .search-form__select-wrap
        = f.select :search, [['新着順', 0], ['人気順', 3],['コメント数順', 2]]
        = icon 'fas', 'sort-down'
      .search-form__select-wrap
        = f.select :category, @categories
        = icon 'fas', 'sort-down'
      = f.submit '検索する', class: 'search-form__submit'