!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "twitter:card", content: "summary"}
    %meta{name: "twitter:site", content: "@yuuuma11"}
    %meta{name: "twitter:title", content: "ideaSpace"}
    %meta{name: "twitter:description", content: "アイデア共有サイト | ideaSpace"}
    %meta{name: "twitter:image", content: "<%= asset_url('fortwitter.png') %>"}
    %title IdeaSpace
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
    = csp_meta_tag
    %link{href: "https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,400,700|Noto+Sans+JP:300,400,700|Roboto:300,400,700&display=swap", rel: "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'component/flash'
    = yield
    - if user_signed_in?
      = link_to new_idea_path, class: 'post-btn' do
        = icon 'fas', 'lightbulb'